<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
Welcome {{auth.name}} to the {{title}} page! <br>
<a href="/logout">Logout</a>
{% for stock in stocks %}
    <div>
        <h3>Stock Name :{{stock.name}}</h3>
        <p>Stock Current Price is :{{stock.currentPrice}} $</p>
    </div>
{%  endfor %}
</body>
</html>